<h1>My list of restaurants</h1>

<%= link_to "Add a restaurant", new_restaurant_path , class: "btn btn-danger" %>

<% @restaurants.each do |restaurant| %>
  <h2><%= link_to restaurant.name, restaurant_path(restaurant)%></h2>
  <p><%= restaurant.category %></p>
  <p><%= restaurant.phone_number %></p>
<% end %>
